<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Kryptoradio by Koodilehto</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Krypto&shy;radio</h1>
        <p id="slogan">
	  {% if page.lang == 'fi' %}Yhdistä bitcoin-verkkoon mistä tahansa –
	  jopa ilman Internet-yhteyttä!
	  {% else %}Connect to the bitcoin network from anywhere –
	  even without the Internet!
	  {% endif %}</p>
        <a href="https://github.com/zouppen/bitcoin-broadcast" class="button">
	  {% if page.lang == 'fi' %}<small>Tutustu projektiin</small> GitHubissa
	  {% else %}<small>View project on</small> GitHub
	  {% endif %}</a>
      </div>
      <nav>
	<ul>
          <li {% if page.url == '/index.html' %}class="selected"{% endif %}><a href="/">News</a></li>
          <li {% if page.url == '/about.html' %}class="selected"{% endif %}><a href="/about">About</a></li>
          <li {% if page.url == '/technology.html' %}class="selected"{% endif %}><a href="/technology">Technology</a></li>
	</ul>
      </nav>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

        {{ content }}

        </section>

        <aside id="sidebar">
          <a href="https://github.com/zouppen/bitcoin-broadcast/zipball/master" class="button">
            {% if page.lang == 'fi' %}
	    <small>Lataa tiedosto</small> .zip
	    {% else %}
	    <small>Download</small> .zip file
	    {% endif %}
          </a>
          <a href="https://github.com/zouppen/bitcoin-broadcast/tarball/master" class="button">
            {% if page.lang == 'fi' %}
            <small>Lataa tiedosto</small> .tar.gz
	    {% else %}
            <small>Download</small> .tar.gz file
	    {% endif %}
          </a>

	  {% if page.lang == 'fi' %}
          <p class="repo-owner">
	  <a href="https://github.com/zouppen/bitcoin-broadcast">Tätä projektia
          </a> ylläpitää
          <a href="https://github.com/zouppen">Joel
          Lehtonen</a>. Englanninkielisessä käännöksessä ja oikoluvussa auttaa
          <a href="https://github.com/tuomosipola">Tuomo
          Sipola</a>. Olemme
          <a href="http://koodilehto.fi">Koodilehto osk:n</a> jäseniä.</p>

          <p><a href="http://www.koodilehto.fi/"><img class="logo" src="/images/logos/koodilehto_logo_100x114.png" title="Koodilehdon logo"/></a></p>
          
          <p>Digita lähettää Kryptoradiota Suomessa. <a href="http://www.digita.fi/"><img class="logo" src="/images/logos/digita_valk_pysty_rgb.jpg" title="Digitan logo" /></a></p>

          <p>Sivun ulkoasu perustuu Architect themeen, jonka on tehnyt
          <a href="https://twitter.com/jasonlong">Jason
          Long</a>. Kuva <a href="https://secure.flickr.com/photos/gsfc/10840840555/">
	  Typhoon Haiyan</a> © 2013 JMA/EUMETSAT.
          <a href="http://commons.wikimedia.org/wiki/File:YLE_transmission_tower_January_31_2009.jpg">
          Pasilan linkkitorni Helsingissä</a>, kuvaaja Lauri
          Silvennoinen.</p>
      
	  <p>Haluatko rahoittaa projektia? Ota yhteyttä!
	  Bitcoin-osoitteemme on
	  <a id="btc" href="bitcoin:1FvEggFtNSYS9pcBoYB9wDxH9fa1mrNPW5">
	  1FvEggFtNSYS9pcBoYB9wDxH9fa1mrNPW5</a>
	  </p>
	  {% else %}
          <p class="repo-owner">
	  <a href="https://github.com/zouppen/bitcoin-broadcast">This
          project</a> is maintained
          by <a href="https://github.com/zouppen">Joel
          Lehtonen</a> and assisted
          by <a href="https://github.com/tuomosipola">Tuomo
          Sipola</a>. Both of us are members
          of <a href="http://koodilehto.fi">Koodilehto co-op.</a></p>

          <p><a href="http://www.koodilehto.fi/"><img class="logo" src="/images/logos/koodilehto_logo_100x114.png" title="Koodilehto's logo"/></a></p>
          
          <p>Digita broadcasts Kryptoradio in Finland. <a href="http://www.digita.fi/"><img class="logo" src="/images/logos/digita_valk_pysty_rgb.jpg" title="Digita's logo" /></a></p>

          <p>Site layout is based on Architect theme
          by <a href="https://twitter.com/jasonlong">Jason
          Long</a>. <a href="https://secure.flickr.com/photos/gsfc/10840840555/">
	  Typhoon Haiyan</a> picture © 2013 JMA/EUMETSAT.
          <a href="http://commons.wikimedia.org/wiki/File:YLE_transmission_tower_January_31_2009.jpg">
          YLE transmission tower in Pasila, Helsinki, Finland</a> by Lauri
          Silvennoinen.</p>
      
	  <p>Please consider contributing to this project.
	  Our bitcoin address is:
	  <a id="btc" href="bitcoin:1FvEggFtNSYS9pcBoYB9wDxH9fa1mrNPW5">
	  1FvEggFtNSYS9pcBoYB9wDxH9fa1mrNPW5</a>
	  </p>
	  {% endif %}
      <div id='cen'>
        <img src="/images/bitcoin_address.png" title="QR code of our bitcoin address" />
      </div>
        </aside>
      </div>
    </div>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-51859611-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
